.DS_Store
Thumbs.db

.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates

Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.tmp
*.svd
*.pidb
*.booproj
*.pidb.meta
*.unitypackage
.*
!.gitignore

